extends ../../layouts/default.pug 
include ../../mixins/alert.pug 

block main 

    +alertError("3000")
    +alertSuccess("3000")
    
    form(
            action=`/auth/forgotPassword`
            method="POST"   
            id="form-forgot-password"
            style="max-width: 400px; width: 100%; height: 220px;"
            class="mx-auto mt-5"
        ) 
            h4.text-center.mb-3 #{pageTitle}
            .mb-1.row.form-group
                label.col-12.col-form-label.fw-bold(for='email') Email
                .col-12
                    input(class="form-control" type='email' value=email name="email" id="email" placeholder="Nhập email")
                p.error-msg

            .mb-1.row.px-2
                .col-12.col-form-label
                button(type="submit" class="btn btn-primary" style="width: 100%;") Gửi mã OTP
    
    script(src="/public/clients/js/validator.js") 