extends ../../layouts/default.pug 
include ../../mixins/alert.pug 

block main 

    +alertError("3000")
    +alertSuccess("3000")
    
    form(
            action=`/auth/resetPassword`
            method="POST"   
            id="form-reset-password"
            style="max-width: 400px; width: 100%; height: 350px;"
            class="mx-auto mt-5"
        ) 
            h4.text-center.mb-3 #{pageTitle}
            .row.form-group.d-none
                .col-12
                    input(class="form-control" type='email' name="email" value=email)
            .mb-1.row.form-group
                label.col-12.col-form-label.fw-bold(for='password') Mật khẩu
                .col-12
                    input(class="form-control" type='password' name="password" id="password" placeholder="Nhập mật khẩu")
                p.error-msg

            .mb-1.row.form-group
                label.col-12.col-form-label.fw-bold(for='confirmPassword') Xác nhận mật khẩu
                .col-12
                    input(class="form-control" type='password' name="confirmPassword" id="confirmPassword" placeholder="Xác nhận mật khẩu")
                p.error-msg

            .mb-1.row.px-2
                .col-12.col-form-label
                button(type="submit" class="btn btn-primary" style="width: 100%;") Thay đổi
    
    script(src="/clients/js/validator.js") 