extends ../../layouts/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/search.pug 
include ../../mixins/changeMulti.pug 
include ../../mixins/status.pug 
include ../../mixins/sort.pug 
include ../../mixins/filterByStatus.pug 
include ../../mixins/alert.pug 
include ../../mixins/pagination.pug 
include ../../mixins/modal.pug 

block main
    if (role.permissions.includes("singers-view"))
        .container 
            +box-head(pageTitle)

            +alertSuccess("3000")
            +alertError("3000")

            .row 
                .col-12
                    .card 
                        .card-header.fw-bold Tìm kiếm, sắp xếp, lọc
                        .card-body 
                            .row 
                                .col-4 
                                    +search(keyword)
                                .col-4 
                                    +sort(sortCriteria, sortBy)
                                .col-4 
                                    +filterByStatus(filterCriteria, filter)

            if (role.permissions.includes("singers-create") && role.permissions.includes("singers-edit"))
                .row.mt-4 
                    .col-12 
                        .card 
                            .card-header.fw-bold Cập nhật, Thêm mới 
                            .card-body.d-flex.justify-content-between 
                                +changeMulti("singers")
                                a(
                                    href=`${prefixAdmin}/singers/create`
                                    class="btn btn-secondary"
                                ) 
                                    i.fa-solid.fa-plus
                                    span.ms-2 Thêm mới

            .row.mt-4 
                .col-12 
                    .card 
                        .card-header.fw-bold Danh sách 
                        .card-body 
                            if (singers.length > 0) 
                                table.table.table-hover
                                    thead
                                        tr.text-center
                                            th(scope='col')
                                                input(type="checkbox" name="" checkbox-all class="form-check-input")
                                            th(scope='col') STT
                                            th(scope='col') Tên 
                                            th(scope='col') Hình ảnh
                                            th(scope='col') Status 
                                            th(scope='col') Actions
                                    
                                    tbody
                                        each singer, index in singers 
                                            tr.text-center.align-middle 
                                                td 
                                                    input(type="checkbox" name="" checkbox-single=singer.id class="form-check-input")    
                                                td #{index + 1}
                                                td.fw-bold #{singer.fullName}
                                                td 
                                                    img(
                                                        src=singer.avatar
                                                        alt=singer.title
                                                        class="img-thumbnail"
                                                        style="width: 75px; height: 75px;"
                                                    )
                                                td 
                                                    +status(singer, "singers")
                                                td 
                                                    a(href=`${prefixAdmin}/singers/detail/${singer.id}` class="btn btn-primary me-2") Chi tiết 
                                                    if (role.permissions.includes("singers-edit"))
                                                        a(href=`${prefixAdmin}/singers/edit/${singer.id}` class="btn btn-warning me-2") Sửa 
                                                    if (role.permissions.includes("singers-delete"))
                                                        button(type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=`#${singer.slug}`) Xóa
                                                    +modal(singer.slug, singer.id, singer.fullName, "ca sĩ", "singers")
                
                                +pagination(pagination)
                            else 
                                tr(col-span="8") Chưa có ca sĩ nào 

        script(src="/public/admin/js/index.js") 