extends ../../layouts/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug

block main
    if (role.permissions.includes("accounts-edit"))
        .container 
            +box-head(pageTitle)
            include ../../partials/require.pug

            form(
                action=`${prefixAdmin}/accounts/edit/${account.id}?_method=PATCH`
                method="POST"
                id="form-edit-account"
            )
                .row.my-3
                    .col-md-6.col-12 
                        .form-group     
                            label(for="email" class="fw-bold") Email *
                            input(type="text" name="email" value=account.email id="email" class="form-control" autocomplete="off") 
                            p.error-msg

                .row.my-3
                    .col-md-6.col-12 
                        .form-group     
                            label(for="password" class="fw-bold") Password
                            input(type="password" name="password" id="password" class="form-control" autocomplete="off") 
                            p.error-msg

                .row.my-3 
                    .col-md-6.col-12 
                        .form-group 
                            label(for="roleId" class="fw-bold") Vai trò *
                            select(name="roleId" id="roleId" class="form-select")
                                option(value="" disabled=true) -- Chọn vai trò --   
                                each role in roles 
                                    option(value=role.id selected=(role.id===account.roleId?true:false)) #{role.title} 
                            p.error-msg

                .row.my-3 
                    .col-md-6.col-12.d-flex.align-items-center.gap-4
                        span(class="fw-bold p-0 m-0") Trạng thái hoạt động
                        .form-check.form-check-inline.mb-0
                            input.form-check-input(type='radio' id="active" name='status' value='active' checked=(account.status==="active"?true:false))
                            label.form-check-label(for='active') Hoạt động
                        .form-check.form-check-inline.mb-0
                            input.form-check-input(type='radio' id="inactive" name='status' value='inactive' checked=(account.status==="inactive"?true:false))
                            label.form-check-label(for='inactive') Chưa hoạt động

                .my-3 
                    button(type="submit" class="btn btn-secondary" btn-create) Cập nhật

        script(type="application/javascript" src="/tinymce/tinymce.min.js")
        script(src="admin/js/my-tinymce-config.js") 
        script(src="admin/js/validator.js") 



        

